NEXT_PUBLIC_SUPABASE_URL=https://ofmzpgbuawtwtzgrtiwr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_APP_URL=https://wl.snapworxx.com
NEXT_PUBLIC_MAIN_APP_URL=https://snapworxx.com
RESEND_API_KEY=
RESEND_FROM_EMAIL=SnapWorxx <noreply@snapworxx.com>
WL_STRIPE_PRICE_STARTER_MONTHLY=
WL_STRIPE_PRICE_STARTER_YEARLY=
WL_STRIPE_PRICE_STUDIO_MONTHLY=
WL_STRIPE_PRICE_STUDIO_YEARLY=
WL_STRIPE_PRICE_AGENCY_MONTHLY=
WL_STRIPE_PRICE_AGENCY_YEARLY=
